[Unit]
Description=animebg
After=network.target
After=graphical.target

[Service]
User=USERVAR
Group=USERVAR
ExecStart=/usr/bin/python3 /usr/bin/animebg.py
RemainAfterExit=false
Type=oneshot


[Install]
WantedBy=graphical.target