[Unit]
Description=animebg
After=network.target
After=graphical.target

[Service]
User=dustin
Group=dustin
ExecStart=/usr/bin/python3 /usr/local/bin/animebg.py
RemainAfterExit=false
Type=oneshot


[Install]
WantedBy=graphical.target