#This file goes here: /etc/systemd/system/animebg.timer
#Test with:   systemctl status animebg.timer 
#follow with: journalctl --follow -u animebg.timer
[Unit]
Description=animebg scheduler

[Timer]
OnBootSec=0min
OnUnitActiveSec=TIMERVAR

[Install]
WantedBy=graphical.target